body{
    display: flex;
    margin-top: 120px;
    justify-content: center;
}

.container{
display: flex;
min-height: 600px;
min-width: 600px;
flex-wrap: wrap;
}

.divHolder{
display: flex;
box-sizing: border-box;
border: solid 1px black;
height: calc(100% / 16);
width: calc(100% / 16);
}